h4{
	margin-top: 100px;
}
img{
	border: 1px solid black;
}
.xz2{
	width: 100%;
	height: auto;
}
.info{
	float: right;
	margin-right: 200px;
}
label{
	width: 160px;
	height: 18px;
}
p{
	padding-top: 20px;
}